<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Teacher Student Scoring Dashboard.">
    <meta name="author" content="Summit">
    <meta name="apple-mobile-web-app-capable" content="yes">    

        @*=================================================================================================
            CSS Loading
        =================================================================================================*@
        <link id="bs-css" href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/jquery-ui.min.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/jquery-ui.theme.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/colorbox.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/jquery.dataTables.min.css")" rel="stylesheet" type="text/css">
        <!-- Copied smoothness to project to alleviate SSL errors --> 
        <link href="@Url.Content("~/Content/smoothness.jquery-ui.css")" rel="stylesheet" type="text/css">

        <!-- The fav icon -->
        <link rel="shortcut icon" href="Images/favicon.png">        

        @*=================================================================================================
            Script Loading
        =================================================================================================*@
        
        <!--jQuery-->
       <!-- //Bootstrap-->        
        <script src="@Url.Content("~/Scripts/jquery-2.0.1.min.js")"> </script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")"> </script>
        <!-- //jQuery UI-->
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"> </script>
        <!-- ***** Validate ***** -->
        <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>   
        <!-- //library for cookie management -->
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")"> </script>
        <!-- //select or dropdown enhancer-->
        <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")"> </script>
        <!-- // plug-in for gallery image view -->
        <script src="@Url.Content("~/Scripts/jquery.colorbox.min.js")"> </script>
        <!--  // Jquery DataTables-->
        <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"> </script>
        <!-- // modernizr -->
        <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"> </script>
        <!-- //Handlebars-->
        <script src="@Url.Content("~/Scripts/handlebars-v2.0.0.js")"> </script>
        <script src="@Url.Content("~/Scripts/jquery.center.js")"></script>
        <!--<script src="@Url.Content("~/Content/bootstrap/js/libs/bootstrap.min.js")"></script>-->
        <!-- //Local Storage-->
        <script src="@Url.Content("~/Scripts/jquery.storageapi.min.js")"> </script>

        <!--//TSS APP SCRIPT -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/app/TSS.Data.Item.js")"></script>


        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
    <body>

        @Html.Partial("_Header")

        <div class="page-body">
            @RenderBody()
        </div>

        @Html.Partial("_Footer")

    </body>
</html>